[Desktop Entry]
Encoding=UTF-8
Name=Purplecoin
Comment=Purplecoin P2P Cryptocurrency
Comment[fr]=Purplecoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Purplecoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/purplecoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/purplecoin;
Categories=Office;
